<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col">
      <h1>Nuevo usuario</h1>
    </div>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="createUser()">

    <div class="row mt-5">
      <div class="col-1">Nombre: </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="name">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Apellido P.: </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="fatherLastName">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Apelifo M.: </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="motherLastName">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Email: </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Telefono: </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="phone">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Usuario: </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="user">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Password: </div>
      <div class="col-4">
        <input type="password" class="form-control" formControlName="password">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">Password: </div>
      <div class="col-4">
        <input type="password" class="form-control" formControlName="confirmPassword">
      </div>
    </div>

    <span class="text-red" *ngIf="!isFormOk">Verifica tu información: {{message}}</span><br>
    <div class="row d-flex justify-content-center mt-5" >
      <div class="col-4 ">
        <button type="submit" class="btn btn-info text-white" [disabled]="!userForm.valid">Guardar</button>
      </div>
    </div>

  </form>



 
</div>