<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>Inicio de Sesi&oacute;n</h1>
    </div>
  </div>

  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Username</div>
        </div>

        <input class="form-control" type="text" formControlName="username">
      </div>

      <div class="col-6 input-group">
        
        <div class="input-group-prepend">
          <div class="input-group-text">Password</div>
        </div>
        <input class="form-control" type="password" formControlName="password">

      </div>
      <span class="text-red" *ngIf="!isLoginOk">Sus datos son incorrectos, verifique su información e intente nuevamente</span><br>
      <button type="submit" class="btn btn-primary text-white" [disabled]="!loginForm.valid">Login</button>

    </form>
  </div>
</div>