<div class="container">

  <div class="row mt-5">


    <div class="col-md-3">
      <div [formGroup]="searchForm" (ngSubmit)="searchUsers()">
        <input class="form-control" type="text" formControlName="search" placeholder="Buscar">
      </div>


    </div>

    <div class="col-2">
      <button class="btn btn-info text-white" (click)="searchUsers()">OK</button>
    </div>
    <div class="col d-flex justify-content-end">
      <a routerLink="/create-user"><button class="btn btn-info text-white" >Nuevo</button></a>
    </div>
  </div>



  <div class="row mt-5">
    <div class="col">
      <table class="table table-light">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Telefono</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.Name}}</td>
            <td>{{user.FatherLastName}}</td>
            <td>{{user.MotherLastName}}</td>
            <td>{{user.PhoneNumber ? user.PhoneNumber : 'N/A'}}</td>
            <td>{{user.Username}}</td>
          </tr>
        </tbody>

      </table>


    </div>
  </div>
</div>